.dex-page {
  background-image: url("/public/img/pxfuel.jpg");
}

.dashboard {
  display: flex;
  height: 230px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 720px;

  background-image: url("/public/img/두루마리.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1550px 420px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 720px;
}
