.dex-page {
  background-image: url("/public/img/pxfuel.jpg");
}

.dex-page img {
  cursor: pointer;
  transition: transform 0.2s ease;
}

img:hover {
  transform: translateY(2px);
}

.dashboard {
  display: flex;
  height: 230px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 720px;

  background-image: url("/public/img/두루마리.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1550px 420px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 720px;
}

.add-btn {
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid rgb(245, 196, 34);
  background-color: rgb(245, 196, 34);
  color: white;
  font-size: 13px;
}

.delete-btn {
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid rgb(220, 83, 20);
  background-color: rgb(220, 83, 20);
  color: white;
  font-size: 10px;
}
